.hoverLink {
    color: var(--blue-color);
    cursor: pointer;
}

.hoverLink:hover {
    color: #144699;
    text-decoration: underline;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0 12px 0;
}

.border {
    border-bottom: 1px solid rgb(223, 227, 235);
}

.hiddenText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spanWrapper {
    max-width: 90%;
    
}

.passwordHidden {
   
    font-size: 20px;
    -webkit-text-security: disc;
}

.eyeLogo {
    margin-left: 22px;
    width: 27px;
    cursor: pointer;
}

.passwordWrapper {
    display: flex;
}

.mutation {
    cursor: pointer;
}

.mutation:hover {
    color:rgb(10, 39, 204);
    text-decoration: underline;
}

.mutationsContainer {
    display: flex;
    justify-content: space-between;
}