.contentHeader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #677185;
    font-size: 18px;
    padding: 8px 0 16px 0;
  }

  .txnHeader {
    padding-bottom: 20px !important;
  }

  .passwordsContainer {
    display: flex;
    flex-direction: column;
}