
.headerContainer {
    display: flex;
    justify-content: center;
}
.title span {
  color: var(--blue-color);
  text-decoration: none;
}


.title {
  display: flex;
  justify-content: center;
  margin: 0;
  line-height: 1.15;
  font-size: 45px;
  margin-bottom: 20px;
  margin-left: 50px;

}

.titleContainer {
    margin-left: 380px;
}

.stepContainer {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 10px;
}

.addPassContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 270px;
}


.addPasswordButton {
    background-color:  #408fff;
    border: 1px inset rgba(5, 24, 61, 0.1);
    color: var(--coin-color);
    padding: 13px 29px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
   
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
   
}

.addPasswordButton:hover {
    background-color: var(--blue-color);
}

.mainContainer {
    width: 70%;
}

.sectionWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}