.sectionContainer {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.webCamContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.captureButtonContainer {
    padding-top: 35px;
    display: flex;
    justify-content: flex-end;
    
}

.captureButton {
    width: 24%;
    background-color:  #569bfc;
    border: 1px inset rgba(5, 24, 61, 0.1);
    color: var(--coin-color);
    padding: 13px 13px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 30px;
}

.captureButton:hover {
    background-color: #4591fc;
}


.isLoading {
    text-align: center;
}