.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title span {
    margin-left: 13px;
  color: var(--blue-color);
  text-decoration: none;
}


.title {
  display: flex;
  justify-content: center;
  margin: 0;
  line-height: 1.15;
  font-size: 45px;
  margin-bottom: 20px;

}


.stepContainer {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 10px;
}

.directionsContainer {

}

.timerContainer {
    padding-top: 10px;
    font-size: 45px;
}

.nextButton {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


.submitButton {
    background-color:  #408fff;
    border: 1px inset rgba(5, 24, 61, 0.1);
    color: var(--coin-color);
    padding: 13px 29px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 30px;
}

.submitButton:hover {
    background-color: var(--blue-color);
}
